# WEALTH WELLNESS ENV
#Rename to .env and input your own keys!!

# 1. STRIPE API KEYS
# Get these from your Stripe Dashboard (Test Mode)
STRIPE_SECRET_KEY=sk_test_...your_secret_key_here...
STRIPE_PUBLISHABLE_KEY=pk_test_...your_publishable_key_here...

# 2. GEMINI API KEY
GEMINI_API_KEY=sk-proj-...your_openai_key_here...