# WEALTH WELLNESS ENV
#Rename to .env and input your own keys!!

# 1. STRIPE API KEYS
# Get these from your Stripe Dashboard (Test Mode)
STRIPE_SECRET_KEY=sk
STRIPE_PUBLISHABLE_KEY=pk

# 2. GEMINI API KEY
GEMINI_API_KEY=psst

DATABASE_URL="sqlite:///./fintech.db"

COINGECKO_API_KEY=coin

ALPHA_VANTAGE_API_KEY=alpha